.big3-social-privacy {
    list-style-type: none !important;
    margin: 30px 0;
    overflow: hidden;
}

.big3-social-privacy li {
    float: left;
    margin-left: 20px;
}

.big3-social-privacy li:first-child {
    margin-left: 0;
}

.big3-social-privacy a {
    background-image: url('big3-social-privacy-sprite.png');
    display: block;
    font-size: 0;
    height: 45px;
    width: 45px;
}

.big3-social-privacy .facebook {
    background-image: url('img/facebook.png');
}

.big3-social-privacy .twitter {
    background-image: url('img/twitter.png');
}

.big3-social-privacy .google {
    background-image: url('img/google.png');
}
